@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00000f;
    color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    max-width: 48vw;
}

.titulo {
    flex-direction: column;
    padding: 25px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.paragrafo_principal {
    color: #e9e9e9;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.botoes {
    padding: 20px;
    gap: 50px;
    display: flex;
    align-items: center;
}

.botao {
    color: #00000f;
    background-color: #55d1d0;
    padding: 10px;
    border-radius: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    width: 280px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 300px;
    border-radius: 10px;
}


.cab1 {
    color: #55d1d0;
}

.cab2 {
    color: #ff0045;
}

