

body {
    background-color: #00000f;
    color: #fff;
}

#texto {
    margin-left: 16px;
}

h1 {
    padding-top: 16px;
    padding-bottom: 16px;
}

a {
    color: #00000f;
    background-color: #2eaefe;
    padding: 5px;
}

img {
    margin-left: 700px;
}

.cab1 {
    color: #00ffff;
}

.cab2 {
    color: #dc143c;
}

.paragrafo_principal {
    color: #e9e9e9;
}
